<h2>Profile</h2>

<table>
  <tr>
    <th>My presentations</th>
    <th></th>
    <th></th>
  </tr>

  <% @presentations.each do |presentation| %>
    <tr>
      <td><%= link_to "#{presentation.title}", presentation %></td>
      <td><%= link_to "Edit", edit_presentation_path(presentation) %></td>
      <td><%= link_to "Run", run_presentation_path(presentation) %></td>
      <td><%= link_to "Destroy", presentation, :confirm => "Are you sure?", :method => :delete %></td>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>Subscribe presentation</th>
    <th></th>
    <th></th>
  </tr>

  <% @subscribe.each do |presentation| %>
    <tr>
      <td><%= link_to "#{presentation.title}", presentation %></td>
      <% if presentation.is_editable?(@user) %>
        <td><%= link_to "Edit", edit_presentation_path(presentation) %></td>
      <% end %>
      <td><%= link_to "Run", run_presentation_path(presentation) %></td>
      <td><%= link_to "Unsubscribe", subscribe_destroy_path(presentation), :confirm => "Are you sure?" %></td>
    </tr>
  <% end %>
</table>
