<!DOCTYPE html>
<html>
  <head>
    <title>Rails4</title>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag "styles", :media => "screen, print" %>
    <%= stylesheet_link_tag "code", :media => "screen, print" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="wrapper">
      <header>
      <h1><a href="#">Monkey Presents: Presentations Hub</a></h1>
      <div id="login-up-corner">
        <% unless user_signed_in? -%>
          <%= link_to t('v.sessions.signin'), new_user_session_path %> <%= t('nav.or') %> 
          <%= link_to t('v.sessions.signup'), new_user_registration_path %>
        <% else -%>
          <%= link_to t('v.sessions.signout'), destroy_user_session_path %>
        <% end -%>
      </div>
      </header><hr>

      <section id="main">
      <section id="content">
      <% flash.each do |key, value| -%>
        <div class="flash <%= key %>"><%= value %></div>
      <% end -%>

      <%= yield %>
      <%= debug(params) if Rails.env.development?  %>
      </section>

      <aside id="sidebar">
      <nav>
      <ul class="nav">
        <li><%= link_to t('nav.home'), welcome_path %></li>
        <% if user_signed_in? -%>
          <li><%= link_to t("nav.profile"), profile_path %></li>
        <% end -%>
        <li><%= link_to t('nav.about'), aboutus_path %></li>
        <br />
      <% if user_signed_in? %>
          <li><%= link_to t('nav.new_presentation'), new_presentation_path %></li>
          <li><%= link_to t('nav.list_presentation'), presentations_path %></li>
      <% end %>
      </ul>

      </nav>
      </aside><!-- end of sidebar -->
      </section><!-- end of #main content and sidebar -->

      <footer>
      <section id="footer-area">

      <section id="footer-outer-block">
      <aside class="footer-segment">
      <h4>Fajne</h4>
      <ul>
        <li><a href="http://css3generator.com">css3generator.com</a></li>
        <li><a href="http://www.w3schools.com">www.w3schools.com</a></li>
        <li><a href="http://www.css3maker.com">css3maker</a></li>
      </ul>
      </aside><!-- end of #second footer segment -->

      <aside class="footer-segment">
      <h4>Cool</h4>
      <ul>
        <li><a href="http://joemonster.org">Joe</a></li>
        <li><a href="http://rotten.com">RottenDOTcom</a></li>
        <li><a href="http://www.blender.org">Blender</a></li>
      </ul>
      </aside><!-- end of #third footer segment -->

      <aside class="footer-segment">
      <h4>:)</h4>
      <p>&copy; 2011 <a href="http://sigma.ug.edu.pl/~awieruck">olkowo</a> Have fun. Page created on base of Bubblecosm template.</p>
      </aside><!-- end of #fourth footer segment -->

      </section><!-- end of footer-outer-block -->

      </section><!-- end of footer-area -->
      </footer>

    </div>
  </body>
</html>
