<html>
  <head>
    <title><%= title %></title>

    <%= stylesheet_link_tag 'slides.css', :media => "screen" %>
    <%= javascript_include_tag 'jquery-1.3.2.js' %>
    <%= javascript_include_tag 'jquery.easing.js' %>
    <%= javascript_include_tag 'jquery.hash-changed.js' %>
    <%= javascript_include_tag 'slides.js' %>

  </head>
  <body>
    <div id="instructions">
      Use the left/right arrow keys to navigate.
    </div>
    <div id="slides">
      <div id="track">
        <% slides.each_with_index do |slide, idx| %>
          <div id="slide-<%= idx %>" class="content">
            <%= slide.html %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
